<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Display</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001663569 Ramamoorthy, Revathy</h1>

      <br>

      <!-- <center>
          <p> <h4>States with a total population between 2 to 8 million:</h4> {{ rows1 }}</p>
          <p> <h4>States with a total population between 8 to 40 million:</h4> {{ rows2 }}</p>
      </cente> -->

<h4>States with a total population between 2 to 8 million:</h4>
      {#{% if rows1 is not None %}#}
          <table>
            <thead>
                  <th> State </th>

            </thead>

            <tbody>
              {% for value in rows1 %}
            <tr>
                  <td> {{ value[0] }} </td>
            </tr>
              {% endfor %}
            </tbody>
          </table> <br>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}

      <h4>States with a total population between 8 to 40 million:</h4>
      {#{% if rows2 is not None %}#}
          <table>
            <thead>
                  <th> State </th>
            </thead>

            <tbody>
              {% for value in rows2 %}
            <tr>
                  <td> {{ value[0] }} </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}

      <br>
      <br>


    </div>

  </body>
</html>
