<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">

           <h1> 1001663569 Ramamoorthy, Revathy</h1>
            <br>

            <br>
           <!--  <h4>
                 Quiz 0a
            </h4> <br>
            <form action="/disp" method="post">
                <label>Enter value between 0 and 99: </label> <input type="number" name="num" step="any">
                <input type="submit" value="Display" class="btn btn-primary">
            </form>
            <br>

            <p>***********************************************************************************************************************************************************************</p> -->
            <h4>
                 quiz 2b
            </h4> <br>
            <form action="/showpiechart" method="post">
                <input type="submit" value="Display pie chart" class="btn btn-primary">
            </form>
            <br>

            <p>***********************************************************************************************************************************************************************</p>
            <h4>
                 Quiz 5 Basic
            </h4> <br>
            <form action="/basic" method="post">
                <input type="submit" value="Question 5" class="btn btn-primary">
            </form>
            <br>

            <p>***********************************************************************************************************************************************************************</p>
        <h4>
                Quiz 6 scatter plot 
            </h4> <br>
            <form action="/regscatter" method="post">
                <label>Population: </label>
                <label>Range1: </label> <input type="number" name="m1" step="any">
                <label>Range2: </label> <input type="number" name="m2" step="any"> <br>
                <input type="submit" value="Show scatter plot" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Quiz 7 pie chart
            </h4> <br>
            <form action="/quiz7" method="post">
                <h4>Please enter a value</h4>
                <label>Range: </label> <input type="number" name="range">
                <input type="submit" value="Show">

            </form>

            

            <p>***********************************************************************************************************************************************************************</p>
            <h4>
                 Quiz 8 bar chart
            </h4> <br>
            <form action="/horizontalbar" method="post">
                <h4>Please enter a value</h4>
                <label>Value: </label> <input type="number" name="range">
                <input type="submit" value="Show">

            </form>

            

            <p>***********************************************************************************************************************************************************************</p>

            <h4>
                 List
            </h4> <br>
            <form action="/list" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="List" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            
            <br>
            <h4>
                 Show a pie chart of earthquakes ocurred between three pairs of magnitude
            </h4> <br>
            <form action="/showpie" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="Show Pie" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                Show a pie chart of Number of Earthquakes with different Magnitudes
                <br>Show a pie chart of Number of Earthquakes with Magnitude > 5 and depth error gretaer and less than 5
            </h4> <br>
            <form action="/pie" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="Show 2Pie Chart" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Show a bar chart of Number of Earthquakes with different Magnitudes
            </h4> <br>
            <form action="/bar" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="Show Bar Chart" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Show a Scatter chart of Number of Earthquakes with different Magnitudes
            </h4> <br>
            <form action="/scatter" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="Show Scatter Chart" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Show a Line chart of Number of Earthquakes with different Magnitudes
            </h4> <br>
            <form action="/line" method="post">
                <label>Location Source: </label> <input type="text" name="locationSource"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any">
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any">
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br>
                <label>Range5: </label> <input type="number" name="range5" step="any">
                <label>Range6: </label> <input type="number" name="range6" step="any"> <br> <br>
                <input type="submit" value="Show Line Chart" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
        </div>
    </body>
</html>