<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prevalance values for the country code</title>
</head>
<body>
<h2> Quiz 4 </h2> 
<h2>Student ID:1001773073 </h2> 
<h2> <strong> Aravind Muthuluru </strong> </h2>
<!-- <label> <h1>Random number of queries generated</h1></label><br> -->
<form action = "{{ url_for('q4task6') }}" method = "POST">
  
    <br>
    Enter the Year:<br>
    <input type="text" name="year">
    <br>
    Enter the 2 to 12 State name :<br>
    <input type="text" name="state1">
    <br>
    <input type="text" name="state2">
    <br>
    <input type="text" name="state3">
    <br>
    <input type="text" name="state4">
    <br>
    <input type="text" name="state5">
    <br>
    <input type="text" name="state6">
    <br>
    <input type = "submit" value = "submit" />
    <br><br>
    <h2> <a href = "/">Back to Home</a> </h2>
  
  
</form>

</body>
</html>

