<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>1001761106</h2> 
<h2> <strong> Bharadwaj Vaduguru </strong> </h2>
<form action = "{{ url_for('question7_1') }}" method = "POST">
  
    <br>
    <label> Year </label> <input type="text" name="year">
    <br>
    Enter statenames from 2 to 12:<br>
    <label> State1 </label> <input type="text" name="state1">
    <br>
    <label> State2 </label><input type="text" name="state2">
    <br>
    <label> State3 </label><input type="text" name="state3">
    <br>
    <label> State4 </label><input type="text" name="state4">
    <br>
    <label> State5 </label><input type="text" name="state5">
    <br>
    <label> State6 </label><input type="text" name="state6">
    <br>
    <label> State7 </label><input type="text" name="state7">
    <br>
    <label> State8 </label><input type="text" name="state8">
    <br>
    <label> State9 </label><input type="text" name="state9">
    <br>
    <label> State10 </label><input type="text" name="state10">
    <br>
    <label> State11 </label><input type="text" name="state11">
    <br>
    <label> State12 </label><input type="text" name="state12">
    <br>
    <input type = "submit" value = "submit" />
    <br><br>
  
  
</form>

</body>
</html>

