<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Display</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001663569 Ramamoorthy, Revathy</h1>

      <br>
     <h2>Input value : {col} </h2>
     <h2>Result : {row}</h2>

      <br>
      <br>


    </div>

  </body>
</html>
